
  <div class="container" id="container">
    <div class="form-container sing-in-container">
    <form [formGroup]="loginform" (ngSubmit)="onSubmit()">
      <h1>INGRESAR</h1>

        <input type="username" placeholder="Username" formControlName="username"/>
        <mat-error *ngIf = "loginform.controls['username'] .hasError ('required')">
          <strong>Requerido</strong>
        </mat-error>
      
        <input type="password" placeholder="Password" formControlName="password"/>
        <mat-error *ngIf = "loginform.controls['password'] .hasError ('required')">
          <strong>Requerido</strong>
        </mat-error>
          
        <a href="#">¿olviaste tu contraseña?</a> 
        <button type="submit" mat-input>Ingresar</button> 
    </form>
    </div>
  <div class="overlay-container">
  <div class="overlay">
    <div class="overlay-panel overlay-left">
      <img src="" alt="">
      <figcaption></figcaption>
    </div>
  </div>
  </div>
  
        