<form [formGroup]="UsuarioForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>PARQUEA O ALQUILA TU PARQUEADERO SIN COMPLICACIONES
            <div>
                Todo está en Wolfparking
            </div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          
          </div>
        
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Nombre" formControlName="Nombre">
              <mat-error *ngIf="UsuarioForm.controls['Nombre'].hasError('required')">
                *Nombre <strong>required</strong>
              </mat-error>
            </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Apellido" formControlName="Apellido">
            <mat-error *ngIf="UsuarioForm.controls['Apellido'].hasError('required')">
              *Apellido<strong>required</strong>
            </mat-error>
          </mat-form-field>
      </div>
    </div>
    <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" formControlName="Email">
            <mat-error *ngIf="UsuarioForm.controls['Email'].hasError('required')">
              *Email<strong>required</strong>
            </mat-error>
          </mat-form-field>
      </div>
    </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Celular" formControlName="Celular">
              <mat-error *ngIf="UsuarioForm.controls['Celular'].hasError('required')">
                Celular <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          
       
        <div class="row">
          <div class="col">
            <mat-radio-group formControlName="shipping">
              <mat-radio-button value="free">He leído y acepto los Términos y Condiciones y la Política de Privacidad.</mat-radio-button>
              
            </mat-radio-group>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Registrar</button>
      </mat-card-actions>
    </mat-card>
  </form>
  