.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: rgb(203, 194, 32);
}

.mat-toolbar.mat-primary {
  background: rgb(19, 19, 19);
  position: sticky;
  top: 0;
  z-index: 1;
  
}
.container{
  margin: 20px;
}
